@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  /* height: 2rem; */
  margin: auto;
  padding: 0 30px;
  align-items: center;
}
.navbar1{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.navbar1.sticky{
  background-color: #1b1b1b !important;
  padding: 8px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar1 .content{
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar1 .logo a{
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}
.navbar1 .menu-list{
  display: inline-flex;
  margin: 1rem 0;
  /* margin-top: 1rem; */
}

.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

/* MAIN ABOUT */
.mainaboutme{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 6% 0;
  background: linear-gradient(180deg, rgba(52,211,153,1) 0%, rgba(110,231,183,1) 100%); 
  /* align-items: center; */
}
.mainaboutme .bodyaboutme{
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  /* align-items: center; */
  background-color: white;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  width: 85%;
  border-right: 10px solid crimson;
}
.bodyaboutme .imgaboutme{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}
.bodyaboutme .imgaboutme img{
  width: 70%;
  /* padding: 10rem 10rem ; */
}
.bodyaboutme .textaboutme{
  width: 60%;
  padding: 3rem 1rem;
}


/* MAINCONTAC  */
.bodycontac{
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.bodycontac .contac{
  width: 90%;
}
.contac .textcontac{
  width: 100%;
  border-left: 5px solid salmon;
  padding: .5rem 1rem;
  border-radius: 3px;
  background-color: rgb(245, 245, 245);
  /* background-color: blueviolet; */
}
.contac .imgcontac{
  margin-top: 2%;
  width: 100%;
  /* background-color: brown; */
}
.contac .imgcontac img{
  /* box-shadow: 0px 10px 15px rgba(0,0,0,0.1); */
  width: 5%;
}

@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar1 .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar1.show .menu-list{
    left: 0%;
  }
  .navbar1 .menu-list li{
    margin-top: 45px;
  }
  .navbar1 .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar1.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar1.sticky{
    padding: 5px 0;
  }
  .navbar1 .logo a{
    font-size: 20px;
  }
  .bodyaboutme{
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    background-color: none;
    border-right: none !important;
  }
  .imgaboutme{
    width: 100% !important;
  }
  .imgaboutme img{
    width: 100% !important;
  }
  .textaboutme{
    width: 100% !important;
  }
  .textcontac{
    width: 100%;
    padding: .5rem .5rem !important;
    /* height: 20%; */
  }
  .textcontac h3{
    font-size: 15px;
  }
  .contac .imgcontac img{
    width: 12%;
  }
}