@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body{
  min-height: 100vh;
  width: 100%;
  height: 720px;
  /* background-color: #9cb44f; */
  position: absolute;
  z-index: -10;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header{
  display: flex;
  justify-content: space-between;
  color: white;
}
.header .jdl{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 40%;
}
.header .jdl img{
  width: 40px;
  height: 40px;
}
.header .jdl h2{
  margin: 6px 5px;
  font-weight: 600;
}
.header .menu{
  width: 40%;
  
}
.header .menu .list{
  display: flex;
  flex-direction: row;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  z-index: 999;
  transition: 0.6s;
}

header.sticky{
  background-color: #6D214F;
  padding: 5px 100px;
}

header .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a{
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(226, 226, 226);
  margin-left: 10px;
  padding: 10px 15px;
  /* text-transform: uppercase; */
  border-radius: 15px;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover{
  color: rgb(255, 255, 255);
}

header .btn{
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media (max-width: 1024px) {
  header .btn{
    display: block;
  }

  header .menu.active{
    right: 0;
  }

  header .menu{
    position: fixed;
    background: #a81b24;
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition-property: right;
    transition: 0.5s;
  }

  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a{
    display: block;
    font-size: 16px;
    margin: 20px;
    padding: 0 15px;
  }
}

@media (max-width: 375px) {
  .section-main h1{
    font-size: 50px;
    line-height: 60px;
  }
}

/* MAIN CONTENT */
.intro{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 580px;
  background-color: #B33771;
}
.intro .int1 {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1rem;
  color: white;
}
.intro .int1 h1{
  font-size: 40px;
}
.intro .int2{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.intro .int2 img{
  width: 50%;
  border-radius: 150px;
  margin: 2rem 2rem;
}
.int1 .but{
  margin-top: 10%;
  width: 100%;
  height: auto;
}
.int1 .but a{
  text-decoration: none;
  margin: 0px 10px;
}
.int1 .but #source-code{
  color: white;
  font-size: 20px;
  padding: 8px 15px;
  background-color: #FC427B;
  border-radius: 5px;
}
.int1 .but #covid{
  color: white;
  font-size: 20px;
  padding: 8px 15px;
  background-color: #6D214F;
  /* border: 2px solid #6D214F; */
  border-radius: 5px;
}
.int1 .but #source-code:hover{
  border: none;
  background-color: #6D214F;
}
.int1 .but #covid:hover{
  border: 0px solid #6D214F;
  background: none;
}
/* MAIN PROGRESS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}
.wrapper{
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .card{
  background: #fff;
  width: calc(33% - 20px);
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper .card .circle{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}
.card .circle .box,
.card .circle .box span{
  position: absolute;
  top: 50%;
  left: 50%;
}
.card .circle .box{
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}
.card .circle:hover .box{
  transform: translate(-50%, -50%) scale(0.91);
}
.card .circle .box span,
.wrapper .card .text{
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle .box span{
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}
.card .circle:hover .box span{
  transform: translate(-45%, -45%) scale(1.09);
}
.card .text{
  font-size: 20px;
  font-weight: 600;
}
@media(max-width: 753px){
  .wrapper{
    max-width: 700px;
  }
  .wrapper .card{
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}
@media(max-width: 505px){
  .wrapper{
    max-width: 500px;
  }
  .wrapper .card{
    width: 100%;
  }
}