@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}

.content{
  max-width: 1250px;
  /* height: 2rem; */
  margin: auto;
  padding: 0 30px;
  align-items: center;
}
.navbar1{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  padding: 16px 0;
  transition: all 0.3s ease;
}
.navbar1.sticky{
  background-color:#0f0f0f !important;
  padding: 15px 0;
  top: 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar1 .content{
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar1 .logo a{
  /* margin-top: 10rem 0 !important; */
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}
.navbar1 .menu-list{
  display: inline-flex;
  margin: 1rem 0;
  /* margin-top: 1rem; */
}
.logo img{
  width: 10% !important;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

/* BATAS */
/* BACKGROUND */

.body2{
  margin-top: -20% !important;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: -99;
}
.childbody2{
  width: 100%;
  height: 2220px!important;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  background: linear-gradient(180deg, rgba(52,211,153,1) 0%, rgba(110,231,183,1) 100%); 
}

/* RESULT */
.res{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
}
.part1{
  width: 88%;
  background-color: white;
  border-radius: 10px;
}
.part1, .titletub {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bolder;
}
.part1 p, .titletub p{
  margin-bottom: -1%;
}
.part2{
  width: 90%;
  /* background-color: tomato; */
  display: flex;
  justify-content: center;
  flex-direction: row !important;
}
.part3{
  width: 90%;
  /* background-color: tomato; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: yellow;
}
.grupping{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imgmodal{
  width: 80%;
  filter: drop-shadow(7px 7px 7px #666666);
  -webkit-filter: drop-shadow(7px 7px 7px rgb(177, 247, 221));
}
.nampor{
  position: absolute;
  z-index: 1;
  width: 10rem;
  height: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  margin-bottom: -13%;
  color: rgba(52,211,153,1);
}
.videotub{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.vid1, .vid2, .vid3, .vid4{
  width: 90%;
  margin: 1.5rem ;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 5px;
}
.ifram, .kataa{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: .5rem;
}
.kataa{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
/* WRAPER  */
.wrapper{
  margin-top: 7%;
  width: 100%;
  height: 512px;
  display: flex;
  justify-content: center;
  /* padding-top: 5rem; */
}
.wrapper, .grapich{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.textskil1, .textskil2{
  width: 85%;
  height: auto;
  text-align: start;
  display: flex;
  background-color: #ffffff;
  border-left: 5px solid #EC4899;
  padding: 1rem 2rem;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  font-weight: bold;
}
.textskil2{
  width: 100%;
  margin-bottom: 3%;
}
.textskil1 h4, .textskil2 h4{
  color: black;
  font-size: 23px;
  margin: -.1rem -.2rem;
  /* font: bolder; */
  /* margin-top: -.2rem; */
}
.grapich{
  width: 85%;
  margin-top: 1%;
  background-color: #FDF2F8;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper .card{
  margin: 2rem 2rem;
  background: #fff;
  width: calc(33% - 20px);
  height: 300px;
  width: 20%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper .card .circle{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}
.card .circle .box,
.card .circle .box span{
  position: absolute;
  top: 50%;
  left: 50%;
}
.card .circle .box{
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}
.card .circle:hover .box{
  transform: translate(-50%, -50%) scale(0.91);
}
.card .circle .box span,
.wrapper .card .text{
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle .box span{
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}
.card .circle:hover .box span{
  transform: translate(-45%, -45%) scale(1.09);
}
.card .text{
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar1 .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar1.show .menu-list{
    left: 0%;
  }
  .navbar1 .menu-list li{
    margin-top: 45px;
  }
  .navbar1 .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar1.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar1.sticky{
    padding: 13px 0;
  }
  .navbar1 .logo a{
    font-size: 20px;
  }
  .wrapper{
    width: 100%;
    padding: 6rem 1rem;
    max-width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column !important;
  }
  .wrapper .card{
    width: 80%;
    height: 240px;
  }
  .textskil1{
    padding: .5rem 1rem;
    margin-bottom: 2rem;
  }
  .textskil1 h4{
    font-size: 15px;
  }
  .childbody2{
    margin-top: -5rem;
  }
  .part1{
    border-left: 5px solid salmon;
  }
  .part1 h3{
    font-size: 18px;
    margin-top: -1px;
  }
  .imgmodal{
    width: 100%;
  }
  .nampor{
    width: 50px;
    height: 15px;
    border-radius: 5px;
  }
  .nampor span{
    font-size: 9px;
  }
  .titletub{
    height: 4rem;
    margin-bottom: 1rem !important;
    margin-top: 3rem;
  }
  .titletub p {
    margin-bottom: -2rem;
  }
  .titletub h3{
    font-size: 18px;
  }
  .vid1, .vid2, .vid3, .vid4{
    padding: .5rem .5rem;
    display: flex;
    flex-direction: column;
  }
  .vid2 .kataa, .vid2 .ifram{
    width: 100%;
  }
  .vid3 .kataa, .vid3 .ifram{
    width: 100%;
  }
  .vid4 .kataa, .vid4 .ifram{
    width: 100%;
  }
  .vid1 .kataa, .vid1 .ifram{
    width: 100%;
  }
  .vid2, .vid4{
    display: flex;
    flex-direction: column-reverse;
  }
  .ifram iframe{
    width: 95%;
    margin-left: -.7rem;
  }
}